<!DOCTYPE html>
<html lang="zh-CN">
<head>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>技术论坛_帖子详情页</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_DIR}/public.css" />
	<link rel="stylesheet" type="text/css" href="{$smarty.const.CSS_DIR}/show.css" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">技术论坛</div>
			<div class="nav">
				<a href="index.php?p=Home&c=Index&a=Index">首页</a>
				<a class="hover" href="index.php?p=Home&c=Publish&a=showAllArticle">帖子</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
				{php}
					if(isset($_SESSION['userInfo']))
					{
						//说明用户已经登录，给出欢迎信息
						echo "<font color=#FFF>","欢迎您,",$_SESSION['userInfo']['user_name'],"</font>",'&nbsp;';
						echo '<a href="index.php?p=Home&c=User&a=image">上传头像</a>&nbsp;';
						echo '<a href="index.php?p=Home&c=User&a=logout">注销</a>';
					}else
					{
						echo '<a href="index.php?p=Home&c=User&a=login">登录</a>&nbsp;';
						echo '<a href="index.php?p=Home&c=User&a=register">注册</a>';
					}
				{/php}
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a>首页</a> &gt; <a>NBA</a> &gt; <a>CBA</a> &gt;
	</div>
	<div id="main" class="auto">
		<div class="wrap1">
			<div class="pages">
				{$strPage}
			</div>
			<a class="btn reply" href="index.php?p=Home&c=Publish&a=replyArticle&pub_id={$artInfo.pub_id}"></a>
			<div style="clear:both;"></div>
		</div>
		<div class="wrapContent">
			<div class="left">
				<div class="face">
					<a target="_blank" href="">
						<img width="160" height="160" src="./Uploads/user/{$artInfo.user_image}" />
					</a>
				</div>
				<div class="name">
					<a href="">{$artInfo.pub_owner}</a>
				</div>
			</div>
			<div class="right">
				<div class="title">
					<h2>{$artInfo.pub_title}</h2>
					<span>阅读：{$artInfo.pub_hits}&nbsp;|&nbsp;回复：{$replynum}</span>
					<div style="clear:both;"></div>
				</div>
				<div class="pubdate">
					<span class="date">发布于：{$artInfo.pub_time|date_format:'%Y-%m-%d %H:%M:%S'} </span>
					<span class="floor" style="color:red;font-size:14px;font-weight:bold;">楼主</span>
				</div>
				<div class="content">
					 {$artInfo.pub_content}
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		{foreach from=$replyInfo item='row'}
		<div class="wrapContent">
			<div class="left">
				<div class="face">
					<a target="_blank" href="">
						<img width="160" height="160" src="./Uploads/user/{$row.user_image}" />
					</a>
				</div>
				<div class="name">
					<a href="">{$row.rep_user}</a>
				</div>
			</div>
			<div class="right">
				
				<div class="pubdate">
					<span class="date">回复时间：{$row.rep_time|date_format:'%Y-%m-%d %H:%M:%S'}</span>
					<span class="floor">{$row.rep_num}楼&nbsp;|&nbsp;<a href="index.php?p=Home&c=Publish&a=quoteReply&pub_id={$row.rep_pub_id}&rep_id={$row.rep_id}">引用</a></span>
				</div>
				<div class="content">
					{if $row.rep_quote_id!=0}
						{quoteReply rep_quote_id=$row.rep_quote_id}
					{/if}
					{$row.rep_content}
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		{/foreach}
		
		<div class="wrap1">
			<div class="pages">
				{$strPage}
			</div>
			<a class="btn reply" href="index.php?p=Home&c=Publish&a=replyArticle&pub_id={$artInfo.pub_id}"></a>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>技术论坛</a>
		</div>
		<div class="copyright">Powered by zafu ©2018 bbs.com</div>
	</div>
</body>
</html>